@keyframes anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fluffy {
  animation: anime 2s;
}

body {
  user-select: none;
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container > div {
  padding: 15px;
}

.container > div > div {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック体", "Yu Gothic", sans-serif;
}

.colorSelect {
  background: #000000d1;
  height: 600px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
}

.colorSelect div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

section {
  width: 160px;
  height: 120px;
  text-align: center;
  user-select: none;
  padding-top: 20px;
}

section > div {
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  width: 150px;
}

button {
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
  border-width: 1px;
  border-radius: 50px;
}

.light {
  background: #fff;
  border-radius: 50%;
  color: #000;
}

.light2 {
  border-radius: 50%;
  color: #000;
}

.invalid {
  pointer-events: none;
}

.Hide {
  visibility: hidden;
}

button:hover {
  cursor: pointer;
}

.textRed {
  color: red;
}
